@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');


.custom-margin-top {
    margin-top: 4rem; /* Ajuste o valor conforme necessário */
  }

  /* Define a classe para o fundo global */
.background {
    background-color: #9e1010; /* Cor de fundo clara, ajuste conforme necessário */
    min-height: 100vh; /* Garante que o fundo cubra a altura total da viewport */
    margin: 0;
    padding: 0;
  }
  
  .image-path-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; // Ajuste conforme necessário
  }
  
  .connector {
    display: block;
  }

  h2 {
    font-size: 55px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
    color: #424242;
    border-bottom: 2px solid #3F683C; /* Linha embaixo */
  padding-bottom: 10px; /* Espaço entre o texto e a linha */
  margin-bottom: 20px; /* Espaço abaixo da linha */
  }

  .responsive-image {
    width: 80vw;
    height: 110vh;
  
    // @media (max-width: 768px) {
    //   content: url('../assests/pathMobile.png'); // Substitua pelo caminho da imagem móvel
    //   width: 70vw; // Ajuste conforme necessário
    //   height: 110vh; // Ajuste a altura para manter a proporção
    // }
  }